# 無視
/*
/.*

# 除外
!/README.md
!/.bashrc
!/.zshrc
!/.emacs.el
!/.gitignore
!/.gitignore_global
!/.inputrc
!/.irbrc
!/.tmux.conf
!/.vimperatorrc
!/rm_localized.sh

# vim
!/.vimrc
!/.vim/ftdetect
!/.vim/syntax
!/.vim/template
!/.vrapperrc
# neovim
!/.config/nvim/init.vim

!/.vimfx/config.js.example
!/Brewfile
!/.tigrc
!/.config/sheldon/*
!/.config/alacritty/alacritty.yml

